.layout {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;

    &_center {
        width: 100%;
        max-width: calc(100% - 2*@panel-width);
    }
}
