.section {
    display: flex;

    &__image {
        width: calc(3 * 100% / 7);
        text-align: center;
    }

    &__picture {
        height: auto;
        max-width: 100%;
    }

    &__product {
        width: calc(3 * 100% / 7);
    }
}
